.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("banner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40vh;
}

.tag-line{
  color: white;
  font-weight: bold;
}
